.M_Menu {
  display: flex;
  position: relative;
  z-index: 3;
  padding: var(--sm) var(--lg);
  justify-content: center;
  align-items: center;
  gap: var(--xl);
  border-radius: 8px;
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  backdrop-filter: blur(50px);
}

.M_ButtonsNavbar {
  display: flex;
  align-items: center;
  gap: var(--lg, 24px);
}

.M_ParagraphTextGroup {
  display: flex;
  flex-direction: column;
  gap: var(--xs, 8px);

  > p:nth-child(1) {
    color: var(--medium-text, #8e8e8e);
  }

  > p:nth-child(2) {
    color: var(--dark-button-text, #fdfdfd);
  }
}

.M_FooterMenu {
  display: flex;
  flex-direction: column;
  gap: var(--sm, 12px);
}

.M_FooterBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.M_ArticleTextPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 670px;
  gap: var(--2xl, 40px);
  margin: 0 auto;
}

.M_TagsGroup {
  display: flex;
  align-items: center;
  gap: var(--md, 16px);
}

.M_Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md, 16px);
}

.M_PaginationButton {
  display: flex;
  width: var(--3xl, 48px);
  height: var(--3xl, 48px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--cards-background, #191919);
  color: var(--dark-button-text, #fdfdfd);
  font-family: 'Geist Mono';
  font-size: var(--tags, 17px);
}

.M_PaginationButton.active {
  background: var(--dark-button-text, #fdfdfd);
  color: var(--light-button-text, #191919);
}

.M_HeroContainer {
  display: flex;
  width: 258px;
  flex-direction: column;
  align-items: center;
  gap: var(--sm, 12px);
}

.M_ImageWithCaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lg, 24px);
  width: 946px;

  > p {
    font-family: 'Geist Mono';
  }
}

.M_Quote {
  display: flex;
  width: 946px;
  padding: var(--xl, 32px);
  margin-top: var(--xs, 8px);
  flex-direction: column;
  gap: var(--4xl, 64px);
  border-radius: 12px;
  background: var(--cards-background, #191919);

  > h3 {
    color: var(--button-primary, #3cc68b);
  }
}

.M_NumberQuestion {
  display: flex;
  width: var(--3xl, 48px);
  height: var(--3xl, 48px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--dark-button-text, #fdfdfd);
  flex-shrink: 0;
  position: relative;
  cursor: pointer;

  > p {
    font-family: 'Geist Mono';
    color: var(--light-button-text, #191919);
  }

  > svg {
    position: absolute;
    display: none !important;
  }
}

.M_NumberQuestion:hover {
  > p {
    display: none;
  }

  > .Q_IconDark {
    display: block !important;
  }

  > .Q_IconLight {
    display: block !important;
  }
}

[data-theme='light'] .M_NumberQuestion:hover > .Q_IconDark {
  display: none !important;
}

.M_NumberQuestion:hover > .Q_IconLight {
  display: none !important;
}

[data-theme='light'] .M_NumberQuestion:hover > .Q_IconLight {
  display: block !important;
}

.M_Paragraph {
  display: flex;
  flex-direction: column;
  gap: var(--lg, 24px);
}

.M_DividerLine {
  width: 946px;
}

.M_TextWithIcon {
  display: flex;
  align-items: center;
  gap: var(--sm, 12px);

  > p:hover {
    color: var(--medium-text, #8e8e8e);
  }
}

.M_TextWithIcon svg path {
  stroke: #fdfdfd;
}

html[data-theme='light'] .M_TextWithIcon svg path {
  stroke: #191919;
}

.M_MenuItem {
  display: flex;
  align-items: center;
  gap: var(--lg, 24px);
}

.M_MenuItem.active {
  gap: var(--md, 16px);

  .Q_ContentMark {
    width: 20px;
    background: var(--dark-button-text, #fdfdfd);
  }

  > a {
    color: var(--dark-button-text, #fdfdfd);
  }
}

.M_AuthorInfo {
  display: flex;
  align-items: center;
  gap: var(--sm, 12px);
}

.M_UsefulMeta {
  display: flex;
  align-items: center;
  gap: var(--lg, 24px);
  color: var(--medium-text, #8e8e8e);
}

.M_UsefulImage {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--sm, 12px);

  > img {
    width: 100%;
    height: auto;
  }
}

.M_UsefulTextCaption {
  display: flex;
  flex-direction: column;
  gap: var(--md, 16px);
}

.M_ParagraphAbout {
  width: 946px;
}

.M_HeroContainerAbout {
  display: flex;
  align-items: center;
  gap: var(--sm, 12px);
}

.M_AboutInfo {
  display: flex;
  width: 1084px;
  flex-direction: column;
  align-items: center;
  gap: var(--xl, 32px);
  text-align: center;

  > h3 {
    color: var(--medium-text, #8e8e8e);

    > span {
      color: var(--dark-button-text, #fdfdfd);
    }
  }
}

.M_HeroContainerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--sm, 12px);

  > img {
    width: var(--4xl, 64px);
    height: var(--4xl, 64px);
  }
}

.M_HeadingBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.M_TagBig {
  display: flex;
  padding: var(--lg, 24px) var(--3xl, 48px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--zero, 0);
  border-radius: 900px;
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  justify-content: center;
  flex-shrink: 0;
}

.M_ADCInfo {
  display: flex;
  width: 394px;
  height: 164px;
  padding: 48px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: var(--2xl, 40px);
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  backdrop-filter: blur(50px);

  > p:nth-child(2) {
    color: var(--medium-text, #8e8e8e);
  }
}

.M_ButtonBig {
  width: 808.906px;
  height: 198.066px;
  border-radius: 900px;
  background: #3cc68b;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  top: 201px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  > img {
    height: 100%;
  }

  > h2 {
    z-index: 3;
    margin-left: 135px;
    color: var(--dark-button-text, #fdfdfd);
    font-size: var(--heading-2, 42px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1.68px;
  }

  > div {
    position: absolute;
    top: -53px;
    right: 34px;
    width: 419.133px;
    height: 419.133px;
    border-radius: 900px;
    background: #be9aff;
    filter: blur(60px);
  }

  img {
    z-index: 3;
  }
}

.M_SearchBox {
  display: flex;
  align-items: center;
  gap: var(--lg, 24px);
  width: 100%;
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 1440px) {
  .M_AboutInfo {
    width: 932px;
  }
}

@media screen and (max-width: 1280px) {
  .M_AboutInfo {
    width: 864px;
  }

  .M_ButtonBig {
    width: 716px;
    height: 198px;
    padding: 14px;
    top: 151px;

    > h2 {
      margin-left: 150px;
    }

    > div {
      right: -35px;
    }
  }
}

@media screen and (max-width: 768px) {
  .M_Menu {
    display: none;
  }

  .M_ArticleTextPreview {
    width: 100%;
  }

  .M_AboutInfo {
    width: 100%;
  }

  .M_TextWithIcon {
    gap: var(--xs);

    > p {
      font-size: 14px;
    }
  }

  .M_ButtonBig {
    width: 100%;
    height: 129px;
    padding: 14px;
    top: 151px;

    > h2 {
      margin-left: 97.5px;
    }

    > div {
      right: -35px;
    }
  }
}

@media screen and (max-width: 440px) {
  .M_ADCInfo {
    width: 100%;
  }

  .M_ButtonBig {
    width: 100%;
    height: 129px;
    padding: 10px;
    top: 127px;

    > img {
      width: 108.8px;
      height: auto;
    }

    > h2 {
      margin-left: 42.5px;
    }

    > div {
      right: -165.5px;
    }
  }
}
