.M_Menu {
  display: flex;
  position: relative;
  z-index: 3;
  padding: var(--sm) var(--lg);
  justify-content: center;
  align-items: center;
  gap: var(--xl);
  border-radius: 0.42vw;
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  backdrop-filter: blur(2.6vw);
}

.M_ButtonsNavbar {
  display: flex;
  align-items: center;
  gap: var(--lg, 1.25vw);
}

.M_ParagraphTextGroup {
  display: flex;
  flex-direction: column;
  gap: var(--xs, 0.42vw);

  > p:nth-child(1) {
    color: var(--medium-text, #8e8e8e);
  }

  > p:nth-child(2) {
    color: var(--dark-button-text, #fdfdfd);
  }
}

.M_FooterMenu {
  display: flex;
  flex-direction: column;
  gap: var(--sm, 0.63vw);
}

.M_FooterBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.M_ArticleTextPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34.9vw;
  gap: var(--2xl, 2.08vw);
  margin: 0 auto;
}

.M_TagsGroup {
  display: flex;
  align-items: center;
  gap: var(--md, 0.83vw);
}

.M_Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md, 0.83vw);
}

.M_PaginationButton {
  display: flex;
  width: var(--3xl, 2.5vw);
  height: var(--3xl, 2.5vw);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.56vw;
  background: var(--cards-background, #191919);
  color: var(--dark-button-text, #fdfdfd);
  font-family: 'Geist Mono';
  font-size: var(--tags, 0.89vw);
}

.M_PaginationButton.active {
  background: var(--dark-button-text, #fdfdfd);
  color: var(--light-button-text, #191919);
}

.M_HeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sm, 0.63vw);
}

.M_ImageWithCaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--lg, 1.25vw);
  width: 49.27vw;

  > p {
    font-family: 'Geist Mono';
  }
}

.M_Quote {
  display: flex;
  width: 49.27vw;
  padding: var(--xl, 1.67vw);
  margin-top: var(--xs, 0.42vw);
  flex-direction: column;
  gap: var(--4xl, 3.33vw);
  border-radius: 0.63vw;
  background: var(--cards-background, #191919);

  > h3 {
    color: var(--button-primary, #3cc68b);
  }
}

.M_NumberQuestion {
  display: flex;
  width: var(--3xl, 2.5vw);
  height: var(--3xl, 2.5vw);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: var(--dark-button-text, #fdfdfd);
  flex-shrink: 0;
  position: relative;
  cursor: pointer;

  > p {
    font-family: 'Geist Mono';
    color: var(--light-button-text, #191919);
  }

  > svg {
    position: absolute;
    display: none !important;
  }
}

.M_NumberQuestion:hover {
  > p {
    display: none;
  }

  > .Q_IconDark {
    display: block !important;
  }

  > .Q_IconLight {
    display: block !important;
  }
}

[data-theme='light'] .M_NumberQuestion:hover > .Q_IconDark {
  display: none !important;
}

.M_NumberQuestion:hover > .Q_IconLight {
  display: none !important;
}

[data-theme='light'] .M_NumberQuestion:hover > .Q_IconLight {
  display: block !important;
}

.M_Paragraph {
  display: flex;
  flex-direction: column;
  gap: var(--lg, 1.25vw);
}

.M_DividerLine {
  width: 49.27vw;
}

.M_TextWithIcon {
  display: flex;
  align-items: center;
  gap: var(--sm, 0.63vw);

  > p:hover {
    color: var(--medium-text, #8e8e8e);
  }
}

.M_TextWithIcon svg path {
  stroke: #fdfdfd;
}

html[data-theme='light'] .M_TextWithIcon svg path {
  stroke: #191919;
}

.M_MenuItem {
  display: flex;
  align-items: center;
  gap: var(--lg, 1.25vw);
}

.M_MenuItem.active {
  gap: var(--md, 0.83vw);

  .Q_ContentMark {
    width: 1.04vw;
    background: var(--dark-button-text, #fdfdfd);
  }

  > a {
    color: var(--dark-button-text, #fdfdfd);
  }
}

.M_AuthorInfo {
  display: flex;
  align-items: center;
  gap: var(--sm, 0.63vw);
}

.M_UsefulMeta {
  display: flex;
  align-items: center;
  gap: var(--lg, 1.25vw);
  color: var(--medium-text, #8e8e8e);
}

.M_UsefulImage {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--sm, 0.63vw);

  > img {
    width: 100%;
    height: auto;
  }
}

.M_UsefulTextCaption {
  display: flex;
  flex-direction: column;
  gap: var(--md, 0.83vw);
}

.M_ParagraphAbout {
  width: 49.27vw;
}

.M_HeroContainerAbout {
  display: flex;
  align-items: center;
  gap: var(--sm, 0.63vw);
}

.M_AboutInfo {
  display: flex;
  width: 55.46vw;
  flex-direction: column;
  align-items: center;
  gap: var(--xl, 1.67vw);
  text-align: center;

  > h3 {
    color: var(--medium-text, #8e8e8e);

    > span {
      color: var(--dark-button-text, #fdfdfd);
    }
  }
}

.M_HeroContainerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--sm, 0.63vw);

  > img {
    width: var(--4xl, 3.33vw);
    height: var(--4xl, 3.33vw);
  }
}

.M_HeadingBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.M_TagBig {
  display: flex;
  padding: var(--lg, 1.25vw) var(--3xl, 2.5vw);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--zero, 0);
  border-radius: 46.88vw;
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  justify-content: center;
  flex-shrink: 0;
}

.M_ADCInfo {
  display: flex;
  width: 20.52vw;
  height: 8.54vw;
  padding: 2.5vw 1.04vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.04vw;
  border-radius: var(--2xl, 2.08vw);
  background: var(--menu-transparent, rgba(34, 34, 34, 0.4));
  backdrop-filter: blur(2.6vw);

  > p:nth-child(2) {
    color: var(--medium-text, #8e8e8e);
  }
}

.M_ButtonBig {
  width: 42.13vw;
  height: 10.32vw;
  border-radius: 46.88vw;
  background: #3cc68b;
  padding: 0.78vw;
  overflow: hidden;
  position: absolute;
  top: 9.17vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  > img {
    height: 100%;
  }

  > h2 {
    z-index: 3;
    margin-left: 7.03vw;
    color: var(--dark-button-text, #fdfdfd);
    font-size: var(--heading-2, 2.19vw);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.09vw;
  }

  > div {
    position: absolute;
    top: -2.76vw;
    right: 1.77vw;
    width: 21.83vw;
    height: 21.83vw;
    border-radius: 46.88vw;
    background: #be9aff;
    filter: blur(3.13vw);
  }

  img {
    z-index: 3;
  }
}

.M_SearchBox {
  display: flex;
  align-items: center;
  gap: var(--lg, 1.25vw);
  width: 100%;
  position: relative;
  z-index: 100;
}

.M_Paragraph,
.M_DividerLine,
.M_ImageWithCaption,
.M_Quote {
  width: 49.27vw;
}

@media screen and (max-width: 1440px) {
  .M_AboutInfo {
    width: 64.72vw;
  }

  .M_ButtonBig {
    top: 14vw;
    width: 56.18vw;
    height: 13.75vw;
  }

  .M_ADCInfo {
    width: 26.94vw;
    height: 160px;
  }

  .M_Paragraph,
  .M_DividerLine,
  .M_ImageWithCaption,
  .M_Quote {
    width: 50.56vw;
  }
}

@media screen and (max-width: 1280px) {
  .M_AboutInfo {
    width: 70.5vw;
  }

  .M_ButtonBig {
    width: 55.94vw;
    height: 15.47vw;
    padding: 1.09vw;
    top: 13.1vw;

    > h2 {
      margin-left: 11.72vw;
    }

    > div {
      right: -2.73vw;
      width: 32.74vw;
      height: 32.74vw;
      filter: blur(60px);
    }
  }

  .M_ADCInfo {
    width: 32.81vw;
  }

  .M_NumberQuestion {
    display: none;
  }

  .M_Paragraph,
  .M_DividerLine,
  .M_ImageWithCaption,
  .M_Quote {
    width: 56.48vw;
  }
}

@media screen and (max-width: 768px) {
  .M_Menu {
    display: none;
  }

  .M_ArticleTextPreview {
    width: 100%;
  }

  .M_AboutInfo {
    width: 100%;
  }

  .M_TextWithIcon {
    gap: var(--xs);
  }

  .M_ButtonBig {
    width: 78.78vw;
    height: 25.78vw;
    padding: 1.82vw;
    top: 17.5vw;

    > h2 {
      margin-left: 12.7vw;
    }

    > div {
      right: -4.56vw;
      width: 419.133px;
      height: 419.133px;
    }
  }

  .M_ADCInfo {
    width: 53.39vw;
  }

  .M_UsefulImage {
    height: 45.18vw;
  }
}

@media screen and (max-width: 440px) {
  .M_ADCInfo {
    width: 100%;
  }

  .M_ButtonBig {
    width: 100%;
    height: 29.32vw;
    padding: 2.27vw;
    top: 40.86vw;

    > img {
      width: 24.73vw;
      height: auto;
    }

    > h2 {
      margin-left: 9.66vw;
    }

    > div {
      right: -19.61vw;
      width: 74.47vw;
      height: 74.47vw;
    }
  }

  .M_UsefulImage {
    height: 78.86vw;
  }
}
