.O_FooterTop {
  display: flex;
  width: 100%;
  height: 8.96vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.O_HeadingWithTags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--2xl, 2.08vw);
}

.O_ArticlePreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--3xl);

  > img {
    width: var(--image-article-width, 42.08vw);
    height: var(--image-article-height, 26.04vw);
  }
}

.M_ArticleImageLight {
  display: none;
}

[data-theme='light'] .M_ArticleImageDark {
  display: none;
}

[data-theme='light'] .M_ArticleImageLight {
  display: block;
}

.O_ArticlePreview--reverse {
  flex-direction: row-reverse;
}

.O_mainWrapperLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.O_mainPageWrapperLayout {
  gap: var(--7xl, 6.67vw);
}

.O_HeadingTextArticle {
  display: flex;
  width: 34.9vw;
  flex-direction: column;
  align-items: center;
  gap: var(--4xl, 3.33vw);
}

.O_AnswerBlockArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--xl, 1.67vw);
}

.O_UsefulHeadingContent {
  display: flex;
  width: 49.27vw;
  flex-direction: column;
  gap: var(--md, 0.83vw);
  margin-left: var(--4xl, 3.33vw);
}

.O_UserCard {
  display: flex;
  width: fit-content;
  padding: 1.25vw;
  flex-direction: column;
  align-items: center;
  gap: 2.08vw;
  border-radius: 0.42vw;
  border: 0.05vw solid var(--gray, #8e8e8e);
  background: var(--dark_gray, #2d2d2d);
}

.O_UsefulCard {
  display: flex;
  width: calc(100% / 2 - 0.52vw);
  flex-direction: column;
  gap: var(--xl, 1.67vw);
  text-decoration: none;
  color: inherit;
}

.O_UsefulCard--no-link {
  cursor: url('../../images/M_Cursor.svg'), auto;
}

.O_ArticlePreview--no-link {
  cursor: url('../../images/M_Cursor.svg'), auto;
}

.M_UsefulImage {
  width: 100%;
  height: 18.07vw;
  border-radius: var(--sm, 0.63vw);
  overflow: hidden;
  background: var(--cards-background, #191919);
}

.M_UsefulImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.M_UsefulImage img:nth-child(2) {
  display: none;
}

[data-theme='light'] .M_UsefulImage img:nth-child(1) {
  display: none;
}

[data-theme='light'] .M_UsefulImage img:nth-child(2) {
  display: block;
}

.O_Banner {
  position: relative;
  margin-top: var(--5xl);
  width: 100%;
  height: 580px;
  border-radius: var(--sm, 0.63vw);
  background: var(--cards-background, #191919);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.O_QuoteCards {
  position: relative;
  width: 42.08vw;
  height: 27.3vw;

  > .O_QuoteCard {
    position: absolute;
    border: 0.05vw solid var(--medium_gray, #383838);
    box-shadow: 0.05vw 0.05vw 0.42vw 0 rgba(255, 255, 255, 0.1);
    border-radius: var(--sm, 0.63vw);

    &:nth-child(2) {
      transform: rotate(-4deg);
    }
    &:nth-child(3) {
      transform: rotate(4deg);
    }
  }
}

.O_WordsContainerAbout {
  position: relative;
  width: 100%;
  height: 30.21vw;
  display: flex;
  align-items: center;
}

.O_connectionViewAbout {
  margin-top: 3.18vw;
  display: flex;
  flex-direction: column;
  gap: var(--4xl, 3.33vw);
  align-items: center;
}

.O_sectionConnections {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76.15vw;
  padding: 2.5vw 0 1.93vw 0;
  border-radius: 0.42vw;
  background: var(--cards-background, #191919);
  overflow: hidden;

  > img:nth-child(2) {
    display: none;
  }

  [data-theme='light'] & > img:nth-child(2) {
    display: block;
  }

  [data-theme='light'] & > img:nth-child(1) {
    display: none;
  }
}

.O_QuoteCard {
  width: 42.08vw;

  .M_Quote {
    margin: 0;
    width: 42.08vw;
    gap: var(--lg, 1.67vw);
    padding: var(--3xl, 2.5vw);

    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: var(--4xl, 1.67vw);
      > p {
        font-size: var(--paragraph-large, 1.25vw);
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: calc(5 * 1.5 * var(--paragraph-large, 1.25vw));
      }
    }
  }
}

.O_TopicsBlock {
  position: relative;
  height: 540px;
  width: 100%;
  border-radius: var(--sm, 0.63vw);
  background: var(--cards-background, #191919);
  overflow: hidden;
  display: flex;
  align-items: center;

  > h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32px;
  }
}

.O_404WrapperLayout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.47vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16.09vw;
  text-align: center;

  > h1 {
    color: var(--light-button-text, #191919);
    font-size: 9.38vw;
    letter-spacing: -0.38vw;
  }

  > p {
    color: var(--light-button-text, #191919);
  }

  > a {
    margin-top: 0.94vw;
  }
}

.O_CommunityBlock {
  position: relative;
  width: 100%;
  height: 23.71vw;

  margin-top: 3.7vw;

  display: flex;
  justify-content: center;

  > h2 {
    width: 51.82vw;
    text-align: center;

    font-family: 'Geist Mono';
    font-size: var(--heading-2, 2.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.1vw;
  }

  > img {
    position: absolute;
    width: 3.29vw;
    box-shadow: 0 0 4.17vw 1.04vw rgba(255, 255, 255, 0.1);
    border-radius: 100%;

    &:nth-child(3) {
      left: 8.91vw;
      top: 1.72vw;
    }
    &:nth-child(4) {
      left: 5.94vw;
      top: 18.7vw;
    }
    &:nth-child(5) {
      left: 23.96vw;
      top: 18.75vw;
    }
    &:nth-child(6) {
      left: 19.27vw;
      top: 14.06vw;
    }
    &:nth-child(7) {
      right: 32.03vw;
      top: 20.05vw;
    }
    &:nth-child(8) {
      right: 19.06vw;
      top: 9.79vw;
    }
    &:nth-child(9) {
      right: 7.92vw;
      top: 16.98vw;
    }
    &:nth-child(10) {
      right: 7.92vw;
      top: 0;
    }

    &:nth-child(11) {
      width: 1.88vw;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 4.17vw 1.04vw rgba(255, 255, 255, 0);
      top: -3.7vw;
    }
  }
}

@media screen and (max-width: 1440px) {
  .O_QuoteCards {
    width: 55.28vw;
    height: 32.57vw;
  }

  .O_QuoteCard {
    width: 55.28vw;

    .M_Quote {
      width: 55.28vw;
    }
  }

  .O_CommunityBlock {
    height: 30.31vw;

    > h2 {
      width: 67.82vw;
      font-size: 3.33vw;
    }

    > img {
      width: 4.39vw;

      &:nth-child(3) {
        left: 3.44vw;
        top: -3.26vw;
      }
      &:nth-child(4) {
        left: 1.44vw;
        top: 19.44vw;
      }
      &:nth-child(5) {
        left: 15.56vw;
        top: 25.68vw;
      }
      &:nth-child(6) {
        left: 15.56vw;
        top: 19.51vw;
      }
      &:nth-child(7) {
        right: 34.64vw;
        top: 26.99vw;
      }
      &:nth-child(8) {
        right: 13.33vw;
        top: 12.61vw;
      }
      &:nth-child(9) {
        right: 1.74vw;
        top: 22.59vw;
      }
      &:nth-child(10) {
        right: 3.34vw;
        top: -0.21vw;
      }
      &:nth-child(11) {
        width: 2.5vw;
      }
    }
  }

  .O_HeadingTextArticle {
    width: 46.53vw;
  }

  .O_UsefulHeadingContent {
    margin-left: 4.63vw;
  }
}

@media screen and (max-width: 1280px) {
  .O_ArticlePreview {
    flex-direction: column-reverse;
    gap: var(--3xl, 3.75vw);

    > img {
      width: 100%;
      height: auto;
    }
  }

  .O_QuoteCards {
    width: 55.94vw;
    height: 35.47vw;
  }

  .O_QuoteCard {
    width: 55.94vw;

    .M_Quote {
      width: 55.94vw;
    }
  }

  .O_CommunityBlock {
    height: 34.31vw;

    > h2 {
      width: 74.82vw;
      font-size: 3.13vw;
    }

    > img {
      &:nth-child(3) {
        left: 4.78vw;
        top: -3.59vw;
      }
      &:nth-child(4) {
        left: 1.65vw;
        top: 12.38vw;
      }
      &:nth-child(5) {
        left: 13.23vw;
        top: 29.73vw;
      }
      &:nth-child(6) {
        left: 10.11vw;
        top: 18.48vw;
      }
      &:nth-child(7) {
        right: 27.4vw;
        top: 29.81vw;
      }
      &:nth-child(8) {
        right: 7.92vw;
        top: 15.31vw;
      }
      &:nth-child(9) {
        right: 0.47vw;
        top: 25.45vw;
      }
      &:nth-child(10) {
        right: 1.17vw;
        top: -0.23vw;
      }
    }
  }

  .O_HeadingTextArticle {
    width: 52.34vw;
    gap: var(--2xl, 5vw);
  }

  .O_UsefulHeadingContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .O_FooterTop {
    height: auto;
    gap: var(--2xl);

    > a {
      width: 100%;
    }
  }

  .O_QuoteCards {
    width: 47.07vw;
    height: 53.71vw;
  }

  .O_QuoteCard {
    width: 47.07vw;

    .M_Quote {
      width: 47.07vw;
    }
  }

  .O_QuoteCard {
    .M_Quote {
      > div:nth-child(1) {
        > p {
          -webkit-line-clamp: 7;
          min-height: calc(7 * 1.5 * var(--paragraph-large, 1.25vw));
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .O_UsefulCard {
    width: 100%;
  }

  .O_CommunityBlock {
    height: 59.31vw;

    > h2 {
      font-size: 4.17vw;
      width: 84.82vw;
    }

    > img {
      width: 8.22vw;
      height: 8.22vw;

      &:nth-child(3) {
        left: 1.1vw;
        top: -9.7vw;
      }
      &:nth-child(4) {
        left: -0.74vw;
        top: 14.5vw;
      }
      &:nth-child(5) {
        left: 17.26vw;
        top: 49.48vw;
      }
      &:nth-child(6) {
        left: 1.95vw;
        top: 40.23vw;
      }
      &:nth-child(7) {
        right: 30.7vw;
        top: 50.65vw;
      }
      &:nth-child(8) {
        right: 13.53vw;
        top: 47.46vw;
      }
      &:nth-child(9) {
        right: 2.67vw;
        top: 39.54vw;
      }
      &:nth-child(10) {
        right: 16.67vw;
        top: -9.64vw;
      }
      &:nth-child(11) {
        width: 4.69vw;
        top: -10.7vw;
      }
    }
  }

  .O_QuoteCards {
    position: relative;
    width: 62.76vw;
    height: 99.86vw;
  }

  .O_QuoteCard {
    width: 62.76vw;

    .M_Quote {
      width: 62.76vw;
    }
  }

  .O_HeadingTextArticle {
    width: 55.47vw;
  }

  .M_UsefulImage {
    height: 347px;
  }

  .O_Banner {
    margin-top: 0;
    height: 580px;
  }

  .O_WordsContainerAbout {
    height: 580px;
  }

  .O_sectionConnections {
    width: 100%;
    height: 860px;
    border-radius: 12px;

    > img {
      height: 96.88vw;
      width: auto;
    }
  }

  .O_connectionViewAbout {
    > h2 {
      text-align: center;
    }
  }

  .O_UsefulHeadingContent {
    margin-left: 0;
    width: 100%;
  }

  .O_QuoteCard {
    .M_Quote {
      > div:nth-child(1) {
        > p {
          -webkit-line-clamp: 11;
          min-height: calc(11 * 1.5 * var(--paragraph-large, 1.25vw));
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .O_TopicsBlock {
    > h2 {
      width: 40.36vw;
    }
  }

  .O_CommunityBlock {
    height: 87vw;

    > h2 {
      font-size: 6.36vw;
      width: 86.82vw;
    }

    > img {
      width: 14.32vw;
      height: auto;

      &:nth-child(3) {
        left: 1.1vw;
        top: -16.93vw;
      }
      &:nth-child(4) {
        left: -10.74vw;
        top: 29.55vw;
      }
      &:nth-child(5) {
        left: 42.26vw;
        top: 72.36vw;
      }
      &:nth-child(6) {
        left: 7.95vw;
        top: 68.32vw;
      }
      &:nth-child(7) {
        right: -3.3vw;
        top: 65.86vw;
      }
      &:nth-child(8) {
        right: -1.47vw;
        top: -19.96vw;
      }
      &:nth-child(9) {
        right: -6.33vw;
        top: 32.86vw;
      }
      &:nth-child(10) {
        right: 16.67vw;
        top: -16.82vw;
      }
      &:nth-child(11) {
        width: 8.18vw;
        top: -19.7vw;
      }
    }
  }

  .O_QuoteCards {
    display: flex;
    justify-content: center;
    height: 110.86vw;
  }

  .O_QuoteCard {
    width: 88.64vw;

    .M_Quote {
      width: 88.64vw;
    }
  }

  .O_HeadingTextArticle {
    width: 83.64vw;
  }

  .O_sectionConnections {
    > img {
      height: 168.41vw;
      width: auto;
    }
  }
}
