.Q_Dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #2d2d2d;
}

.Q_Line {
  width: 100%;
  height: 1px;
  background: var(--dark-button-text, #fdfdfd);
}

.Q_IconLight {
  display: none;
}

.Q_HeroImage {
  border-radius: 100%;
  width: var(--4xl, 64px);
  height: var(--4xl, 64px);
}

.Q_ImageCover {
  position: absolute;
}

.Q_ImageArticle {
  > img {
    width: 100%;
    height: auto;
    border-radius: var(--sm, 12px);
  }
}

.Q_ContentMark {
  width: 12px;
  height: 1.5px;
  background: var(--color-medium-text, #8e8e8e);
}

.Q_UsefulBanner {
  border-radius: var(--sm, 12px);
}

.Q_LineArticelHero {
  position: absolute;

  &:nth-child(4) {
    top: 414px;
    width: 200vw;
    left: -50%;
    z-index: -1;
  }

  &:nth-child(5) {
    transform: rotate(90deg);
    top: -77.96px;
    width: 1px;
    left: 50%;
    height: 500px;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  &:nth-child(6) {
    transform: rotate(150.647deg);
    top: 0;
    width: 300vw;
    left: -78%;
    height: 1px;
    z-index: -1;
  }
}

[data-theme='light'] .Q_IconDark {
  display: none;
}

[data-theme='light'] .Q_IconLight {
  display: block;
}

.Q_Snapshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327.648px;
  height: 327.648px;
  border-radius: 900px;
  border-radius: 900px;
  background:
    linear-gradient(0deg, rgba(0, 223, 36, 0.5) 0%, rgba(0, 223, 36, 0.5) 100%),
    lightgray -98.358px -98.358px / 160.039% 160.039% no-repeat;
  filter: blur(60px);
  filter: blur(60px);
}

.Q_SnapshotAbout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327.648px;
  height: 327.648px;
  aspect-ratio: 1/1;
  border-radius: 900px;
  background: #b28add -98.358px -98.358px / 160.039% 160.039% no-repeat;
  filter: blur(60px);
}

.Q_SnapshotAboutSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327.648px;
  height: 327.648px;
  border-radius: 900px;
  background:
    linear-gradient(0deg, #3cc68b 0%, #3cc68b 100%),
    lightgray -98.358px -98.358px / 160.039% 160.039% no-repeat;
  filter: blur(60px);
}

.Q_SnapshotMain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327.648px;
  height: 327.648px;
  border-radius: 900px;
  background: #946fd9;
  filter: blur(60px);
  z-index: 1;
}

.Q_Line1 {
  top: 258px;
  left: -50%;
  width: 200vw;
}
.Q_Line2 {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  height: 990px;
  width: 1px;
}
.Q_Line3 {
  top: 154px;
  transform: rotate(160deg);
  left: -50%;
  width: 200vw;
}
.Q_SnapshotSearch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -485px;
  width: 1129.893px;
  height: 1129.893px;
  border-radius: 1129.893px;
  background: var(--button-primary, #3cc68b);
  filter: blur(100px);
}

@media screen and (max-width: 1440px) {
  .Q_Line3 {
    top: 222px;
  }
}

@media screen and (max-width: 768px) {
  .Q_Line1 {
    top: 338px;
  }

  .Q_Line2 {
    height: 1020px;
  }

  .Q_Line3 {
    top: 302px;
  }
}

@media screen and (max-width: 440px) {
  .Q_Line1 {
    top: 316px;
  }
}
