.W_Telegram {
  display: flex;
  width: var(--footer-telegram-card-width, 24.11vw);
  padding: var(--lg, 1.25vw) var(--lg, 1.25vw) 2.29vw var(--lg, 1.25vw);
  align-items: flex-start;
  gap: var(--md, 0.83vw);
  border-radius: var(--xs, 0.42vw);
  background: var(--cards-background, #191919);
}

.W_FooterColumn {
  display: flex;
  flex-direction: column;
  gap: var(--md, 0.83vw);
}

.W_ContentHeaderArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--xl, 1.67vw);
  align-self: stretch;
  text-align: center;
}

.W_TextBlockArticle {
  display: flex;
  gap: 1.04vw;
}

.W_MenuContainer {
  position: sticky;
  top: var(--xl, 1.67vw);
  align-self: flex-start;
  display: flex;
  width: 13.33vw;
  flex-direction: column;
  gap: var(--xl, 1.67vw);
}

.W_BannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.95vw;
  margin-top: 11.51vw;
  width: 21.67vw;
  text-align: center;
  z-index: 3;
}

.W_textsAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > p {
    font-family: 'Geist Mono';
  }
}

.W_AboutCenter {
  position: absolute;
  top: 2.6vw;
  left: 50%;
  transform: translateX(-50%);

  > img {
    position: relative;
    z-index: 3;
  }

  > h1 {
    position: absolute;
    font-size: 2.81vw;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    width: 20.94vw;
  }

  & > img:nth-child(3) {
    display: none;
  }

  & > img:nth-child(2) {
    display: block;
  }

  [data-theme='light'] & > img:nth-child(2) {
    display: none;
  }

  [data-theme='light'] & > img:nth-child(3) {
    display: block;
  }
}

.W_mainContainer {
  position: relative;
  margin-top: 3.13vw;
  margin-bottom: 4.01vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15.73vw;

  > h1 {
    position: relative;
    z-index: 3;
    width: 50.65vw;
    text-align: center;
  }

  > img {
    position: absolute;
    z-index: 2;
    width: 7.81vw;
    box-shadow: 0 0 4.17vw 1.04vw rgba(255, 255, 255, 0.3);
    border-radius: 100%;

    &:nth-child(3) {
      top: 1.04vw;
      left: 3.39vw;
    }
    &:nth-child(4) {
      top: 17.54vw;
      left: 5.89vw;
    }
    &:nth-child(5) {
      top: 22.19vw;
      left: 21.82vw;
    }
    &:nth-child(6) {
      top: 13.59vw;
      left: 30.1vw;
    }
    &:nth-child(7) {
      top: 16.82vw;
      right: 28.8vw;
    }
    &:nth-child(8) {
      top: 12.76vw;
      right: 14.69vw;
    }
    &:nth-child(9) {
      top: 19.53vw;
      right: 3.54vw;
    }
    &:nth-child(10) {
      top: 2.4vw;
      right: 3.65vw;
    }
  }

  .Q_Line {
    position: absolute;
    background: var(--medium-text, #8e8e8e);
  }
}

.W_infoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.67vw;
  position: relative;
  z-index: 3;
}

.W_SearchResultsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--5xl, 4.17vw);
}

@media screen and (max-width: 1440px) {
  .W_mainContainer {
    margin-top: 4.44vw;
    margin-bottom: 3.33vw;

    > img {
      &:nth-child(3) {
        top: 7.15vw;
        left: 1.39vw;
      }
      &:nth-child(4) {
        top: 23.02vw;
        left: 3.61vw;
      }
      &:nth-child(5) {
        top: 21.94vw;
        left: 22.71vw;
      }
      &:nth-child(6) {
        top: 15.35vw;
        left: 37.19vw;
      }
      &:nth-child(7) {
        top: 19.65vw;
        right: 30.97vw;
      }
      &:nth-child(8) {
        top: 14.65vw;
        right: 12.99vw;
      }
      &:nth-child(9) {
        top: 24.41vw;
        right: 1.47vw;
      }
      &:nth-child(10) {
        top: 1.88vw;
        right: 1.17vw;
      }
    }
  }

  .W_TextBlockArticle {
    gap: 1.39vw;
  }
}

@media screen and (max-width: 1280px) {
  .W_mainContainer {
    margin-top: 3.13vw;
    margin-bottom: 1.25vw;
    gap: 29.45vw;

    > h1 {
      width: 65.65vw;
    }

    > img {
      width: 9.38vw;

      &:nth-child(3) {
        top: 10.86vw;
        left: 1.56vw;
      }
      &:nth-child(4) {
        top: 27.66vw;
        left: 2.73vw;
      }
      &:nth-child(5) {
        top: 27.66vw;
        left: 24.45vw;
      }
      &:nth-child(6) {
        top: 18.75vw;
        left: 40.7vw;
      }
      &:nth-child(7) {
        top: 25.08vw;
        right: 24.22vw;
      }
      &:nth-child(8) {
        top: 19.22vw;
        right: 7.42vw;
      }
      &:nth-child(9) {
        top: 31.95vw;
        right: 6.25vw;
      }
      &:nth-child(10) {
        top: 5.08vw;
        right: 1.56vw;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .W_Telegram {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .W_mainContainer {
    margin-top: 0;
    margin-bottom: 2.08vw;
    gap: 51.95vw;

    > h1 {
      width: 80.65vw;
    }

    > img {
      width: 13.02vw;

      &:nth-child(3) {
        top: 27.01vw;
        left: 1.82vw;
      }
      &:nth-child(4) {
        top: 50.91vw;
        left: 8.14vw;
      }
      &:nth-child(5) {
        top: 50.91vw;
        left: 28.39vw;
      }
      &:nth-child(6) {
        top: 37.89vw;
        left: 39.06vw;
      }
      &:nth-child(7) {
        top: 45.05vw;
        right: 18.66vw;
      }
      &:nth-child(8) {
        top: 37.89vw;
        right: 2.21vw;
      }
      &:nth-child(9) {
        top: 60.68vw;
        right: 0.34vw;
      }
      &:nth-child(10) {
        top: 22.4vw;
        right: -1vw;
      }
    }
  }

  .W_infoMain {
    gap: 4.17vw;
  }
}

@media screen and (max-width: 440px) {
  .W_mainContainer {
    margin-top: 0;
    margin-bottom: 3.64vw;
    gap: 81.82vw;

    > h1 {
      width: 104.55vw;
    }

    > img {
      width: 18.18vw;

      &:nth-child(3) {
        top: 26.14vw;
        left: -16.55vw;
      }
      &:nth-child(4) {
        top: 74.55vw;
        left: 0.55vw;
      }
      &:nth-child(5) {
        top: 57.05vw;
        left: 30.09vw;
      }
      &:nth-child(6) {
        top: 35.23vw;
        left: 10.59vw;
      }
      &:nth-child(7) {
        top: 79.77vw;
        right: 19.55vw;
      }
      &:nth-child(8) {
        top: 27.5vw;
        right: 14.55vw;
      }
      &:nth-child(9) {
        top: 53.41vw;
        right: 1.32vw;
      }
      &:nth-child(10) {
        top: 28.41vw;
        right: -16vw;
      }
    }
  }

  .W_infoMain {
    width: 100%;
    gap: 7.27vw;
  }
}
