.W_Telegram {
  display: flex;
  width: var(--footer-telegram-card-width, 463px);
  padding: var(--lg, 24px) var(--lg, 24px) 44px var(--lg, 24px);
  align-items: flex-start;
  gap: var(--md, 16px);
  border-radius: var(--xs, 8px);
  background: var(--cards-background, #191919);
}

.W_FooterColumn {
  display: flex;
  flex-direction: column;
  gap: var(--md, 16px);
}

.W_ContentHeaderArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--xl, 32px);
  align-self: stretch;
  text-align: center;
}

.W_TextBlockArticle {
  display: flex;
  gap: 20px;
}

.W_MenuContainer {
  position: sticky;
  top: var(--xl, 32px);
  align-self: flex-start;
  display: flex;
  width: 256px;
  flex-direction: column;
  gap: var(--xl, 32px);
}

.W_BannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  margin-top: 221px;
  width: 416px;
  text-align: center;
  z-index: 3;
}

.W_textsAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > p {
    font-family: 'Geist Mono';
  }
}

.W_AboutCenter {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  > img {
    position: relative;
    z-index: 3;
  }

  > h1 {
    position: absolute;
    font-size: 54px;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    width: 402px;
  }

  & > img:nth-child(3) {
    display: none;
  }

  & > img:nth-child(2) {
    display: block;
  }

  [data-theme='light'] & > img:nth-child(2) {
    display: none;
  }

  [data-theme='light'] & > img:nth-child(3) {
    display: block;
  }
}

.W_mainContainer {
  position: relative;
  margin-top: 60px;
  margin-bottom: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 302px;

  > h1 {
    position: relative;
    z-index: 3;
    width: 742px;
    text-align: center;
  }

  > img {
    position: absolute;
    z-index: 2;
    width: 150px;
    box-shadow: 0 0 80px 20px rgba(255, 255, 255, 0.3);
    border-radius: 100%;

    &:nth-child(3) {
      top: 20px;
      left: 3.39vw;
    }
    &:nth-child(4) {
      top: 336.76px;
      left: 5.89vw;
    }
    &:nth-child(5) {
      top: 426px;
      left: 21.82vw;
    }
    &:nth-child(6) {
      top: 261px;
      left: 30.1vw;
    }
    &:nth-child(7) {
      top: 323px;
      right: 28.8vw;
    }
    &:nth-child(8) {
      top: 245px;
      right: 14.69vw;
    }
    &:nth-child(9) {
      top: 375px;
      right: 3.54vw;
    }
    &:nth-child(10) {
      top: 46px;
      right: 3.65vw;
    }
  }

  .Q_Line {
    position: absolute;
    background: var(--medium-text, #8e8e8e);
  }
}

.W_infoMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  z-index: 3;
}

.W_SearchResultsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--5xl, 80px);
}

@media screen and (max-width: 1440px) {
  .W_mainContainer {
    margin-top: 64px;
    margin-bottom: 48px;

    > img {
      &:nth-child(3) {
        top: 103px;
        left: 1.39vw;
      }
      &:nth-child(4) {
        top: 331.5px;
        left: 3.61vw;
      }
      &:nth-child(5) {
        top: 316px;
        left: 22.71vw;
      }
      &:nth-child(6) {
        top: 221px;
        left: 37.19vw;
      }
      &:nth-child(7) {
        top: 283px;
        right: 30.97vw;
      }
      &:nth-child(8) {
        top: 211px;
        right: 12.99vw;
      }
      &:nth-child(9) {
        top: 351.5px;
        right: 1.47vw;
      }
      &:nth-child(10) {
        top: 27px;
        right: 1.17vw;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .W_mainContainer {
    margin-top: 40px;
    margin-bottom: 16px;
    gap: 377px;

    > img {
      width: 120px;

      &:nth-child(3) {
        top: 139px;
        left: 1.56vw;
      }
      &:nth-child(4) {
        top: 354px;
        left: 2.73vw;
      }
      &:nth-child(5) {
        top: 354px;
        left: 24.45vw;
      }
      &:nth-child(6) {
        top: 240px;
        left: 40.7vw;
      }
      &:nth-child(7) {
        top: 321px;
        right: 24.22vw;
      }
      &:nth-child(8) {
        top: 246px;
        right: 7.42vw;
      }
      &:nth-child(9) {
        top: 409px;
        right: 6.25vw;
      }
      &:nth-child(10) {
        top: 65px;
        right: 1.56vw;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .W_Telegram {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .W_mainContainer {
    margin-top: 0;
    margin-bottom: 16px;
    gap: 399px;

    > img {
      width: 100px;

      &:nth-child(3) {
        top: 207.4px;
        left: 1.82vw;
      }
      &:nth-child(4) {
        top: 391px;
        left: 8.14vw;
      }
      &:nth-child(5) {
        top: 391px;
        left: 28.39vw;
      }
      &:nth-child(6) {
        top: 291px;
        left: 39.06vw;
      }
      &:nth-child(7) {
        top: 346px;
        right: 18.66vw;
      }
      &:nth-child(8) {
        top: 291px;
        right: 2.21vw;
      }
      &:nth-child(9) {
        top: 466px;
        right: 0.34vw;
      }
      &:nth-child(10) {
        top: 172px;
        right: -1vw;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .W_mainContainer {
    margin-top: 0;
    margin-bottom: 16px;
    gap: 360px;

    > h1 {
      width: 460px;
    }

    > img {
      width: 80px;

      &:nth-child(3) {
        top: 115px;
        left: -16.55vw;
      }
      &:nth-child(4) {
        top: 328px;
        left: 0.55vw;
      }
      &:nth-child(5) {
        top: 251px;
        left: 30.09vw;
      }
      &:nth-child(6) {
        top: 155px;
        left: 10.59vw;
      }
      &:nth-child(7) {
        top: 351px;
        right: 19.55vw;
      }
      &:nth-child(8) {
        top: 121px;
        right: 14.55vw;
      }
      &:nth-child(9) {
        top: 235px;
        right: 1.32vw;
      }
      &:nth-child(10) {
        top: 125px;
        right: -16vw;
      }
    }
  }
}
