.W_Telegram {
  display: flex;
  width: var(--footer-telegram-card-width, 463px);
  padding: var(--lg, 24px) var(--lg, 24px) 44px var(--lg, 24px);
  align-items: flex-start;
  gap: var(--md, 16px);
  border-radius: var(--xs, 8px);
  background: var(--cards-background, #191919);
}

.W_FooterColumn {
  display: flex;
  flex-direction: column;
  gap: var(--md, 16px);
}

.W_ContentHeaderArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--xl, 32px);
  align-self: stretch;
  text-align: center;
}

.W_TextBlockArticle {
  display: flex;
  gap: 20px;
}

.W_MenuContainer {
  position: sticky;
  top: var(--xl, 32px);
  align-self: flex-start;
  display: flex;
  width: 256px;
  flex-direction: column;
  gap: var(--xl, 32px);
}

@media screen and (max-width: 1024px) {
  .W_Telegram {
    width: 100%;
  }
}
