<footer class="O_Footer">
  <div class="W_allFooterInfoSection">
    <a href="https://t.me/adcmp" target="_blank">
      <div class="M_telegramCard">
        <div class="A_telegramIcon">
          <img src="images/telegramDark.svg" alt="Перейти в телеграм" />
        </div>
        <div class="W_telegramInfoTexts">
          <p class="A_greyText">Наш Telegram-канал</p>
          <p>
            Анонсируем новые интервью и&nbsp;мероприятия, делимся полезными
            материалами
          </p>
        </div>
      </div>
    </a>

    <div class="W_navigationTexts">
      <p class="A_greyText">Навигация</p>
      <nav class="C_navigationLinks">
        <a class="A_navigationLink" href="/feeds/interviews.html">Интервью</a>
        <a class="A_navigationLink" href="/feeds/useful.html">Материалы</a>
        <a class="A_navigationLink" href="/about.html">О нас</a>
      </nav>
    </div>

    <div class="W_navigationTexts">
      <p class="A_greyText">Реализация проекта</p>
      <div class="C_navigationLinks">
        <p class="A_navigationLink">Екатерина Гомзякова</p>
        <p class="A_navigationLink">Захар День</p>
      </div>
    </div>

    <button class="A_buttonTop">
      <img src="images/arrow-top.svg" alt="Наверх" />
    </button>
  </div>

  <div class="W_footerBottom">
    <p>© 2026 ADC Media</p>
    <p>HSE ADC</p>
  </div>
</footer>
