<header class="O_Menu">
  <a href="/index.html">
    <img
      src="images/Q_Logo.svg"
      alt="ADC Media
     Логотип"
    />
  </a>

  <nav class="M_Menu">
    <div class="W_menuItems">
      <a href="/feeds/interviews.html" class="A_menuItem">Интервью</a>
      <a href="/feeds/useful.html" class="A_menuItem">Полезности</a>
      <a href="/about.html" class="A_menuItem">О нас</a>
    </div>
  </nav>

  <div class="M_Icons">
    <button class="A_Icon A_Search">
      <img class="Q_iconImage" src="images/search.svg" alt="Кнопка поиска" />
    </button>
    <a href="https://t.me/adcmedia" target="_blank" class="A_Icon A_Telegram">
      <img
        class="Q_iconImage"
        src="images/telegram.svg"
        alt="Перейти в телеграм канал"
      />
    </a>
  </div>
</header>
