<header class="O_Menu">
  <a href="/">
    <img src="/images/Q_Logo.svg" alt="Логотип">
  </a>

  <div class="M_Menu">
    <div class="W_menuItems">
      <p class="A_mainItemMenu">Связи</p>
      <img src="/images/arrow-right.svg" alt="Название раздела">
      <p class="A_secondItemMenu">Интервью</p>
    </div>
    <button>
      <img src="/images/chevron-right.svg" alt="Кнопка">
    </button>
  </div>

  <div class="M_Icons">
    <button class="A_Icon A_Search">
      <img class="Q_iconImage" src="/images/search.svg" alt="Кнопка поиска">
    </button>
    <button class="A_Icon A_Telegram">
      <img class="Q_iconImage" src="/images/telegram.svg" alt="Перейти в телеграм канал">
    </button>
  </div>
</header>